---
layout: eq-finder
---

<div class="ef">

	<div class="eq-finder--large">

		<div class="wrapper">
			
			<div class="info-area">
				<p>Welcome to RME Equipment Finder. Let us match you up with the perfect piece of equipment you have been looking for.</p>
				<p><strong><em>Let's get started!</em></strong></p>
				<div class="deal-zone-promo">
					<p>For bargain discounts, check out:</p>
					<a href="http://rmedealzone.ca/" target="_blank"><img src="images/logo-dealzone.png" alt="RME dealzone"></a>
				</div>
				<p>Rocky Mountain Equipment main site:<br><a href="http://www.rockymtn.com">www.rockymtn.com</a></p>
			</div>

			<div class="search-area">
				<div class="tabs">
					
					<div class="tab-links">
						<a class="tab tab--ag active">Agriculture</a><a class="tab tab--ce">Construction</a>
					</div>
					<div class="tab-content tab-content--ag">
						<!-- Include eq finder search fields -->
						{% include eqf-form.html %}
					</div>
					<div class="tab-content tab-content--ce">
						<!-- Include eq finder search fields -->
						{% include eqf-form.html %}
					</div>

				</div>

			</div>

		</div>

	</div>

	<section class="feat-eq">

		<div class="wrapper">
			<h2>Featured Equipment</h2>

			<div class="feat-eq-ag">
				
				<div class="title-bar">
					<h3>Agriculture</h3>
					<a href="#" class="button button--text">Browse all agriculture equipment <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>

				<div class="products">
					{% include product-cards.html %}
					{% include product-cards.html %}
					{% include product-cards.html %}
					{% include product-cards.html %}
				</div>

			</div>

			<div class="feat-eq-ce">

				<div class="title-bar">
					<h3>Construction</h3>
					<a href="#" class="button button--text button--orange">Browse all agriculture equipment <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>

				<div class="products">
					{% include product-cards.html %}
					{% include product-cards.html %}
					{% include product-cards.html %}
					{% include product-cards.html %}
				</div>

			</div>

		</div>

	</section>

</div>
