---
layout: default-wt
---

<div class="ag">

		
	<div class="hero-banner hero-banner--ag">
		
		<div class="wrapper">
			
			<div class="hero-banner__copy">
			
				<h2>Agriculture needs<br>horsepower</h2>
				<a class="button">See our newest models</a>	

			</div>
			

		</div>
		

	</div>

	<div class="promo-cards">
		<div class="wrapper">
			
			<div class="card">
				<div class="card-left">
					<img src="images/ag/tractor.jpg">
				</div>
				<div class="card-right">
					<h3>New tractor launch</h3>
					<div class="category">New products</div>
				</div>
			</div>

			<div class="card">
				<div class="card-left">
					<img src="images/ag/safety.jpg">
				</div>
				<div class="card-right">
					<h3>RME hosting safety event</h3>
					<div class="category">Community involvement</div>
				</div>
			</div>

			<div class="card">
				<div class="card-left">
					<img src="images/ag/aos.jpg">
				</div>
				<div class="card-right">
					<h3>Ag optimization specialists</h3>
					<div class="category">Technology</div>
				</div>
			</div>

		</div>
	</div>
		
		
	{% include eq-finder.html %}

	<div class="wrapper">
		<div class="banner-tech">
			
			<h2>Agriculture needs<br>cutting edge technology</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis illo, voluptatem dolores rem minima aliquid commodi, sit nemo nam obcaecati esse, facere porro beatae accusamus.</p>
			<a class="button">Learn more</a>

		</div>
	</div>

	{% include widgets.html %}

	

</div>
