

<section class="eq-finder">
	
	<div class="wrapper">
		
		<h3><i class="fa fa-search"></i>&nbsp;&nbsp;Equipment Finder</h3>

		<div class="eq-finder__inputs">
			
			<select>
				<option>Industry</option>
				<option value="1">Example item 1</option>
				<option value="2">Example item 2</option>
				<option value="3">Example item 3</option>
				<option value="4">Example item 4</option>
				<option value="5">Example item 5</option>
			</select>
			<select>
				<option>Make</option>
				<option value="1">Example item 1</option>
				<option value="2">Example item 2</option>
				<option value="3">Example item 3</option>
				<option value="4">Example item 4</option>
				<option value="5">Example item 5</option>
			</select>
			<input type="text" placeholder="Stock #"></input>
			<a class="button">Search</a>

		</div>

	</div>

</section>