


<form>

	<div class="flex-c">
		
		<div class="col-1">
			<label>Category</label>
			<select>
				<option value="any">Any</option>
				<option value="1">Item 1</option>
				<option value="2">Item 2</option>
				<option value="3">Item 3</option>
				<option value="4">Item 4</option>
				<option value="5">Item 5</option>
			</select>

			<label>Make</label>
			<select>
				<option value="any">Any</option>
				<option value="1">Item 1</option>
				<option value="2">Item 2</option>
				<option value="3">Item 3</option>
				<option value="4">Item 4</option>
				<option value="5">Item 5</option>
			</select>

			<label>Model</label>
			<input type="text"></input>

			<label>Keywords</label>
			<input type="text"></input>

		</div>
		<div class="col-2">
			<label>Stock Number</label>
			<input type="text"></input>

			<label>Year</label>
			<div class="multi-inputs">
				<input type="text"></input>
				<strong>to</strong>	
				<input type="text"></input>
			</div>

			<label>Hours</label>
			<div class="multi-inputs">
				<input type="text"></input>
				<strong>to</strong>	
				<input type="text"></input>
			</div>

			<label>Price (CAD) $</label>
			<div class="multi-inputs">
				<input type="text"></input>
				<strong>to</strong>	
				<input type="text"></input>
			</div>
			
		</div>
		<div class="col-3">
			<div class="set-alert"><label><input type="checkbox"> Save alert using search criteria</label></div>
			<div class="form-controls"><a href="#" class="button button--text">Reset</a><a class="button">Search</a></div>
		</div>
	</div>


</form>