

<footer class="site-footer">

	<div class="footer-top">
		<div class="wrapper">

			<div style="text-align: center;padding: 60px; ">footer</div>

		</div>
	</div>

	<div class="footer-bottom">
		<div class="wrapper">
			<nav class="footer-nav">
				<a href="#">Location</a>
				<a href="#">Dealer Locator</a>
				<a href="#">My Account</a>
				<a href="#">Contact Us</a>
			</nav>

			<div class="social-links">
				<a href="#"><img src="images/i-facebook.svg" alt="Facebook icon"></a>
				<a href="#"><img src="images/i-twitter.svg" alt="Twitter icon"></a>
				<a href="#"><img src="images/i-linkedin.svg" alt="LinkedIn icon"></a>
				<a href="#"><img src="images/i-youtube.svg" alt="YouTube icon"></a>
			</div>

		</div>
	</div>

</footer>
