

<div class="product-card">

	<div class="item-image">
		<i class="fa fa-camera fa-3x" style="opacity:0.3" aria-hidden="true"></i>
	</div>
	
	<div class="item-body">

		<h3>Equipment Title</h3>
		<h4>Equipment Type</h4>

		<div class="item-price">
			$321,999
		</div>

		<ul class="item-details">
			<li>Stock #: <strong>12345</strong></li>
			<li>Hours: <strong>2231</strong></li>
		</ul>

		<div class="item-footer">
			
			<label><input type="checkbox"> Compare</label>
			<a href="#" class="button button--text">View details</a>

		</div>
	</div>
	

</div>