
<section class="widget-area">
	
	<div class="wrapper">
	
		<div class="widgets">
			<div class="widget widget--logo">
				<a href="#">
					<img src="images/logo-dealzone.png" alt="RME dealzone">
				</a>
			</div>
			
			<div class="widget widget--logo">
				<a href="#">
					<img src="images/logo-eqfinder.png" alt="RME Equipment Finder">
				</a>
			</div>

			<div class="widget widget--logo">
				<a href="#">
					<img src="images/logo-geo.png" alt="RME Geomatics">
				</a>
			</div>
		</div>


		<div class="widgets">
			<div class="widget widget--parts">
				<h3>Parts &amp; Services</h3>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laboriosam maxime suscipit, ad necessitatibus id, odio dolorum voluptatem, esse nam, iure quaerat a harum. Quaerat.</div>
			</div>
			
			<div class="widget widget--news">
				<h3>Industry News</h3>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non ipsa iusto qui eligendi sint maiores cumque provident minus dolor beatae sequi, vero veniam, reiciendis libero.</div>
			</div>
			
			<div class="widget widget--tools">
				<h3>Tools</h3>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem aspernatur neque, vel maxime quibusdam, explicabo reiciendis recusandae doloremque modi facere error, aliquid, fugiat facilis?</div>
			</div>
		</div>

	</div>

</section>
