
.tabs {
    .tab-links {

        display: flex;

        a.tab {
            display: inline-block;
            position: relative;
            padding: $spacing-unit/2 $spacing-unit;
            
            border: solid 1px $grey-light-d;
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
             
            color: $grey;
            font-weight: bold;
            transition: $global-transition;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 3px;

                background-color:transparent;

                
            }

            &:hover {
                background-color: rgba(0,0,0,0.05);
                border-color: $grey-light-d;
                border-bottom-color: $grey-light-d;
                text-decoration: none;

                &:after {
                    background-color: $grey-light-d;
                }
            }

            &.active {
                color: $black;
                border-top: solid 1px $grey-light-d;
                border-right: solid 1px $grey-light-d;
                border-left: solid 1px $grey-light-d;
                border-bottom-color: transparent;
                background-color: transparent;

                &:after {
                    background-color: $red-light;
                }

            }

            &:first-child.active {
                border-left-color: transparent;
            }
        }

        &:after {
            content: '';
            flex: 1;
            border-bottom: solid 1px $grey-light-d;
        }
        
    }
    .tab-content {
        padding: $spacing-unit/2;
    }
}