
@import "fa/_mixins";
@import "fa/_variables";

/**
 * Site header
 */
.site-header {

    background-color: $grey-dark;
    position: relative;
    padding: $spacing-unit 0;

    > .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-logo {
        width: 180px;
        height: 65px;
        display: inline-block;
    }

    .menu {

        flex: 1;
        
        a {
            display: inline-block;
            color: $grey-light;
            font-size: $small-font-size;

            &:hover {
                color: #fff;
            }

        }

        .util-nav {
            text-align: right;
            margin-bottom: $spacing-unit/2;

            a {
                border-right: solid 1px $grey-light;
                padding: 0 $spacing-unit/2;
                margin:0;

                &:last-child {
                    padding-right:0;
                    border: none;
                }
                
            }
        }

        .site-nav {
            text-align: right;
            white-space: nowrap;
            padding-left: $spacing-unit*2;
        }
    }
}

.header-wt {
    .site-header {
        background-color: #fff;
    }
    
    .menu {
        .site-nav {
            display: flex;
            justify-content: space-between;

            a {
                color: $grey-dark;
                text-transform: uppercase;
                // letter-spacing: 1px;
                font-weight: bold;
                padding: 0 $spacing-unit/4;

                &:hover {
                    color: $black;
                }

                &.global-search {
                    padding-right:0;
                    margin-left: $spacing-unit/2;
                }

            }
        }

        .util-nav {
            a {
                color: lighten($grey,10%);

                border-right-color: darken($grey-light, 15%);

                &:hover {
                    color: $grey-dark;
                }
            }
        }
    }
}

/**
 * Site footer
 */

 .site-footer {

    border-bottom: solid 5px $red-light;

    .footer-top {
        background-color: $grey-light;
        padding: $spacing-unit 0;

        >.wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .deal-zone {
                flex:1 300px;
                padding: 0 $spacing-unit;

                display: flex;
                align-items: center;
                justify-content: space-around;

                img {
                    max-height: 60px;
                }
            }

            .find-dealer {
                flex: 1 300px;
                padding: 0 $spacing-unit;

                @media (min-width: 750px){
                    border-left: solid 1px darken($grey-light, 10%);    
                }
                @media (max-width: 749px){
                    border-top: solid 1px darken($grey-light, 10%);    
                    padding-top: $spacing-unit;
                }

                
            }
        }
    }

    .footer-bottom {
        background-color: $grey;
        border-bottom: solid $spacing-unit $grey-dark;
        padding: $spacing-unit;
        
        >.wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;    
        }
        

        nav {
            
            a {
                display: inline-block;
                color: $grey-light;
                padding: 5px;
                margin-right: $spacing-unit/2;
                font-size: $small-font-size;

                &:hover {
                    color: #fff;
                }

            }
        }

        .social-links {

            a {
                display: inline-block;
                height:25px;
                width: 30px;
            }

        }
    }

 }


 /* home page styles */

.tiles {

    height: 1000px;

    @media (max-width: 600px) {
        height: 1400px;
    }

    display: flex;

    flex-wrap: wrap;

    background: $grey;

}


.tiles__tile {
    flex: 1 33%;
    min-width: 300px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;

    background: $grey-light no-repeat 50% 50%;
    background-size: cover;

    outline: solid 1px #fff;

    > a.tile-link {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

        background-color: rgba($black,0.3);

        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.2s;

        &:hover {
            background-color: rgba($black, 0.6);
        }

    }

    h2 {
        color: #fff;
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 800;
        font-size: 32px;
        text-shadow: 0 0 5px rgba(black,0.8);
    }
    p {
        max-width: 35em;
        text-shadow: 0 0 5px rgba(black,0.8);
    }

}

.tiles__tile--hero {
    flex: 1 100%;
    flex-direction: column;
    background: $red-light url('../images/home-hero.jpg') no-repeat 50% 100%;
    background-size: cover;
    outline: none;

    h2 {
        font-size: 40px;
    }

}

.tiles__tile--ag {
    background-image: url('../images/tile-ag.jpg');
}

.tiles__tile--const {
    background-image: url('../images/tile-const.jpg');
}
.tiles__tile--parts {
    background-image: url('../images/tile-parts.jpg');
}

.tiles__tile--logo {
    background-image: none;
    background-color: $grey-light;

    img {
        max-height: 80px;
    }

    a.tile-link {
        background: none;

        &:hover {
            background: darken($grey-light,10%);
        }
    }
}



.hero-banner {
    
    >.wrapper {
        position: relative;
        height: 500px;
    
    }

    h2 {
        color: #fff;
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 800;
        font-size: 38px;
        text-shadow: 0 0 5px rgba(black,0.8);
    }

}

.hero-banner__copy {
    position: absolute;
    bottom: $spacing-unit*3;
    left:$spacing-unit*1.5;
}

.hero-banner--ag {
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,.9) 100%),
    url('../images/ag/ag-hero.jpg') no-repeat 0% 50%;
    background-size: cover;

}

.hero-banner--const {
    background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,.9) 100%),
    url('../images/const/const-hero.jpg') no-repeat 0% 50%;
    background-size: cover;
    
}

.promo-cards {

    margin-top: -$spacing-unit*2;
    
    >.wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .card {

        flex: 1 250px;
        
        display: flex;
        box-sizing: border-box;

        background-color: #fff;

        margin: 0 $spacing-unit/4 $spacing-unit;
        padding: $spacing-unit/2;

        .card-left, .card-right {
            flex: 1;
        }

        .card-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: $spacing-unit/2;
        }

        h3 {
            line-height: 1.1;
        }

        .category {
            font-size: $small-font-size;
            text-transform: uppercase;
            color: $red-light;
            font-weight: bold;
        }

    }
}

.const .category,
.const .news-list time:before,
.const .tools__links .fa {
    color: $orange !important;
}

.const .widget--parts > a {
    color: $orange!important;

    &:hover {
        color: $orange-dark!important;
    }
}

.const .search-control .button {
    background-color: $orange !important;
    &:hover {
        background-color: $orange-dark !important;
    }
}

.banner-tech {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 400px;

    margin: $spacing-unit*2 0 -$spacing-unit 0;

    background: 
        linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), 
        url('../images/banner-tech.jpg') no-repeat 50% 50%;
        background-size: cover;

    h2 {
        color: #fff;
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 800;
        font-size: 38px;
        text-shadow: 0 0 5px rgba(black,0.8);
    }

    p {
        color: #fff;
        max-width: 35em;
        text-shadow: 0 0 5px rgba(black,0.8);
    }
}


.eq-finder {
    background-color: $grey-dark;
    text-align: center;
    padding: $spacing-unit;

    h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.1;
    }
}

.eq-finder__inputs {
    display: flex;
    align-items: center;

    select,input {
        flex: 1;
        margin: 0 $spacing-unit/2;
        box-sizing: border-box;
        height: 30px;
        padding: 3px;
        font-size: 14px;
        line-height: 30px;
    }
    select {
        -webkit-appearance: menulist-button;

        &:first-child {
            margin-left: 0;
        }
    }

    .button {
        flex: 0 1;
    }

    @media (max-width: 650px) {
        flex-wrap: wrap;

        select, input, .button {
            flex: 1 100%;
            margin: 0 0 $spacing-unit/2 0;
        }

    }
}

.widget-area {
    padding: $spacing-unit*2 0;
}

.widgets {
    display: flex;
    flex-wrap: wrap;

    
}

.widget {
    flex: 1 240px;
    background-color: $grey-light;
    padding: $spacing-unit/2;
    margin: $spacing-unit/4;

    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        color: $black;
    }

    h3 + p {
        border-top: solid 1px darken($grey-light, 15%);
        padding-top: $spacing-unit/2;
    }
}

.widget--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;

    img {
        max-width: 240px;
    }

    &:hover {
        background-color: darken($grey-light, 10%);
    }
}

.search-control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-unit;
    align-items: center;

    label {
        flex: 1 100%;
        font-weight: bold;
        margin-bottom: $spacing-unit/4;
    }

    input {
        flex: 1;
        margin-right: $spacing-unit/2;
        box-sizing: border-box;
        height: 30px;
        padding: 3px;
        font-size: 14px;
        line-height: 30px;
    }
}

.news-list {
    list-style: none;
    margin: 0;
    padding:0;

    li {
        border-top: solid 1px darken($grey-light,15%);
        padding: $spacing-unit/2;
    } 

    h4 {
        margin-bottom: 0;
    }
    p {
        font-size: $small-font-size;
        margin-bottom: $spacing-unit/4;
    }
    time {
        font-size: 12px;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:before {
            @include fa-icon;
            content: $fa-var-calendar;
            color: $red-light;
            margin-right: $spacing-unit/4;

        }

    }

}

a.tools__links {
    
    border-top: solid 1px darken($grey-light,15%);
    
    display: block;
    font-size: 20px;
    color: $grey-dark;
    padding: $spacing-unit/2;

    i {
        color: $red-light;
    }

    &:hover {
        text-decoration: none;
        background-color: darken($grey-light, 10%);
    }
}



/* Equipment Finder */

.eq-finder--large {

    background: #f0f0f0;
    
    padding: $spacing-unit;

    @media (max-width: 600px) {
        padding: $spacing-unit/2 0;
    }

    >.wrapper {

        display: flex;
        flex-wrap: wrap;


        .info-area {
            flex: 1 200px;
            text-align: center;
            padding: $spacing-unit/2;
            background-color: $grey-light-d;
            box-sizing: border-box;
            // border: solid 3px $grey-light;
            position: relative;
            outline: solid 3px $grey-light-d;

            &:after {
                content:'';
                display: block;
                position: absolute;
            }



            .deal-zone-promo {
                position: relative;
                margin: $spacing-unit 0;
                padding: $spacing-unit 0;
                font-size: $small-font-size;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 90px;
                    background-color: $grey;
                    left: 50%;
                    margin-left: -45px;
                }
                &:before {
                    top:0;
                }
                &:after {
                    bottom: 0;
                }

                img {
                    max-width: 70%;
                }
            }
        }

        .search-area {
            flex: 5 500px;
            background-color: $grey-light;
            padding: $spacing-unit/4;
            outline: solid 3px $grey-light-d;

            .flex-c {
                flex-wrap: wrap;

                .col-1,.col-2,.col-3 {
                    padding: 0 $spacing-unit/2;
                }

                .col-1,.col-2 {
                    flex:1 250px;
                }
                .col-3 {
                    flex: 1 100%;
                    
                }

                .col-1 {
                    padding-right: $spacing-unit;
                    border-right: solid 1px $grey-light-d;
                }
                .col-2 {
                    padding-left: $spacing-unit;
                }
            }
        }
    }
}

section.feat-eq {
    margin: $spacing-unit*2 0;

    .title-bar {

        display: flex;
        justify-content: space-between;
        background: $grey-light;
        align-items: center;
        margin:  $spacing-unit 0 $spacing-unit/4;

        h3 {
            background: $grey-dark;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin:0;
            font-size: $small-font-size;
            line-height: 1;
            padding: $spacing-unit/2;
        }
        .button {
            margin-right: $spacing-unit/4;

            .fa {
                font-size: $base-font-size;
            }
        }
    }

    .feat-eq-ag {
        .title-bar {
            h3 {
                background-color: $red-light;
            }
        }

        .products .product-card {
            border-bottom-color: $red-light;
        }
    }
    .feat-eq-ce {
        .title-bar {
            h3 {
                background-color: $orange-dark;
            }
        }

        .products .product-card {
            border-bottom-color: $orange;
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;

        .product-card {
            flex: 1 220px;
            margin: $spacing-unit/4;

            .item-price, .item-details, .item-footer {
                display: none;
            }

        }
    }
}

// General product list styling
.product-card {

    background: $grey-light;
    border-bottom: solid 3px $grey-light-d;

    .item-image {
        background-color: $grey-light-d;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-body {
        padding: $spacing-unit/2;
    }

    h3,h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin:0;
    }

    h3 {
        color: $black;
        font-size: $base-font-size;
    }

    h4 {
        color: $grey;
        font-size: $small-font-size;
        font-weight: normal;
    }

    .item-price {
        font-size: 1.2rem;
        font-weight: bold;
        color: $black;
        margin: $spacing-unit/4 0;
    }

    ul.item-details {
        list-style: none;
        margin:$spacing-unit/4 0;
        padding:0;

        li {
            font-size: $xsmall-font-size;
            text-transform: uppercase;
            color: $grey;
            letter-spacing: 1px;
        }
    }

    .item-footer {
        display: flex;
        align-items: center;

        label {
            margin:0;
        }

        .button {
            margin-left: auto;
        }
    }

}





.tab--ce {
    &.active {
        &:after {
            background-color: $orange!important;
        }    
    }
}

.tab-content--ce {
    .form-controls {
        
        .button {
            background-color: $orange;

            &:hover {
                background-color: $orange-dark;
            }
        }

        .button--text {
            color: $orange;
            background-color: transparent;

            &:hover {
                color: $orange-dark;
                background-color: transparent;
            }
        }

    }
}

/* Equipment finder search results page */

section.search-results {

    margin: $spacing-unit*2 0;

    .products {
        display: flex;
        flex-wrap: wrap;

        .product-card {
            flex: 1 20%;
            box-sizing: border-box;
            margin: $spacing-unit/4;
        }
    }
}

.type-ag {
    .products .product-card {
        border-bottom-color: $red-light;

        .item-price {
            color: $red-light;
        }
    }
}

.search-tools {
    background-color: $grey-light;

    label {
        white-space: nowrap;
        margin: 0 $spacing-unit/2 0 0;
    }
    
    .top {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-unit/4;
        border-bottom: solid 1px $grey-light-d;

        .sort,.view,.rpp {
            display: flex;
            align-items: center;
        }

    }

    .bottom {
        display:flex;
        align-items: center;
        padding: $spacing-unit/4;
        
        .results {
            flex:1;
        }
        .pagination {
            flex: 3;
            text-align: center;
        }
        .new-search {
            flex: 1;
            text-align: right;
        }
    }

    .filter-button {
        padding: $spacing-unit/4 $spacing-unit/2;
        line-height: 1.3;
        color: $grey;
        background-color: $grey-light;
        outline: solid 1px $grey-light-d;

        &:hover {
            color: $black;
        }

        &.active {
            color: #fff;
            background-color: $red-light;

        }
    }

}


