/**
 * Site header
 */
.site-header {

    background-color: $grey-dark;
    position: relative;
    padding: $spacing-unit 0;

    > .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-logo {
        width: 180px;
        height: 65px;
        display: inline-block;
    }

    .menu {
        
        a {
            display: inline-block;
            color: $grey-light;
            padding: 5px;
            margin-right: $spacing-unit/2;
            font-size: $small-font-size;

            &:hover {
                color: #fff;
            }

        }
    }
}

/**
 * Site footer
 */

 .site-footer {

    border-bottom: solid 5px $red-light;

    .footer-top {
        background-color: $grey-light;
    }

    .footer-bottom {
        background-color: $grey;
        border-bottom: solid $spacing-unit $grey-dark;
        padding: $spacing-unit;
        
        >.wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;    
        }
        

        nav {
            
            a {
                display: inline-block;
                color: $grey-light;
                padding: 5px;
                margin-right: $spacing-unit/2;
                font-size: $small-font-size;

                &:hover {
                    color: #fff;
                }

            }
        }

        .social-links {

            a {
                display: inline-block;
                height:25px;
                width: 30px;
            }

        }
    }

 }


 /* home page styles */

.tiles {

    height: 700px;

    display: flex;

    flex-wrap: wrap;

    background: $grey;

}
.tiles__tile {
    flex: 1 300px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;

    background: url('http://unsplash.it/400/300/?random') no-repeat 50% 50%;
    background-size: cover;

    > a.tile-link {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

        background-color: rgba($black,0.3);

        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.2s;

        &:hover {
            background-color: rgba($black, 0.6);
        }


    }

    h2 {
        color: #fff;
        text-transform: uppercase;
        line-height: 1.1;
        font-weight: 800;
        font-size: 32px;
        text-shadow: 0 0 5px rgba(black,0.8);
    }
    p {
        max-width: 35em;
        text-shadow: 0 0 5px rgba(black,0.8);
    }

}

.tiles__tile--hero {
    flex: 1 100%;
    flex-direction: column;
    background: $red-light url('../images/home-hero.jpg') no-repeat 50% 100%;
    background-size: cover;

    h2 {
        font-size: 40px;
    }

}

.tiles__tile--ag {
    background-image: url('../images/tile-ag.jpg');
}

.tiles__tile--const {
    background-image: url('../images/tile-const.jpg');
}

.eq-finder {
    background-color: $grey-dark;
    text-align: center;
    padding: $spacing-unit;

    h3 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.1;
    }
}

.eq-finder__inputs {
    display: flex;
    align-items: center;

    select,input {
        flex: 1;
        margin: 0 $spacing-unit/2;
        box-sizing: border-box;
        height: 30px;
        padding: 3px;
        font-size: 14px;
        line-height: 30px;
    }
    select {
        -webkit-appearance: menulist-button;

        &:first-child {
            margin-left: 0;
        }
    }

    .button {
        flex: 0 1;
    }

    @media (max-width: 650px) {
        flex-wrap: wrap;

        select, input, .button {
            flex: 1 100%;
            margin: 0 0 $spacing-unit/2 0;
        }

    }
}

.widget-area {
    padding: $spacing-unit*2 0;
}

.widgets {
    display: flex;
    flex-wrap: wrap;

    
}

.widget {
    flex: 1 240px;
    background-color: $grey-light;
    padding: $spacing-unit/2;
    margin: $spacing-unit/4;

    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        color: $black;
    }
}

.widget--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;

    img {
        max-width: 240px;
    }

    &:hover {
        background-color: darken($grey-light, 10%);
    }
}




